#board-body {
    background-image: url('images/2020_kia_telluride.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
}

#admin-body {
    background-image: url('images/awk_logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

#total_table {
    background: rgba(255, 0, 0, 0.534);
    color: rgba(255, 255, 255, 0.959);
}

#sold-form {
    background: rgb(255, 255, 255, 0.25);
    margin: 10px;
    padding: 10px;
    color: black;
    border: black 1px solid;
}

#sales_board-form {
    margin: 10px;
    padding: 10px;
    color: black;
    border: black 1px solid;
}